<h1>All Tanks</h1>
<% @tanks.each do |tank| %>
  <h2><a href="/tanks/<%= tank.id %>"><%= tank.title %></a></h2>
  <br>
  <img src="<%= tank.image_url %>" alt="<%= tank.title %>" height="220" width="300">
<br><br>
  <strong>Created At: <%= tank.created_at %></strong>
  <p>Tank Size: <%= tank.size %></p>
  <p>Fish and Plants: <%= tank.flora %></p>
  <p>By: <%= tank.user.name %></p>
<% end %>